<template>
  <div class="about">
    <form-schema :schema="schema" v-model="model" @submit="submit">
      <button type="submit">Subscribe</button>
    </form-schema>
  </div>
</template>
<script>
import FormSchema from 'vue-json-schema'
import schema from './newsletter-subscription.json'

export default {
  data: () => ({
    schema: schema,
    model: {}
  }),
  methods: {
    // eslint-disable-next-line no-unused-vars
    submit (e) {
      // this.model contains the valid data according your JSON Schema.
      // You can submit your model to the server here
    }
  },
  components: { FormSchema }
}
</script>
