<template>
  <div class="home">
    <div class="block">


      <div class=" filter__form">
        <div>
          <b-form-input v-model="keyWord" id="input-small" v-on:keyup.enter="getBooks(keyWord)"
                        placeholder="Search..."></b-form-input>
        </div>
        <div style="margin-left: 10px">
          <b-button type="primary" @click="getBooks(keyWord)">Filter</b-button>
        </div>
      </div>

      <table class="table table-bordered table table-striped table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Publisher</th>
          <th scope="col">PublishedDate</th>
          <th scope="col">Thumbnail</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(book,index) in books" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ book.volumeInfo.title }}</td>
          <div v-if="book.volumeInfo.authors">
            <div v-for="(item,indexi) in book.volumeInfo.authors" :key="indexi">
              <td>{{ item }}</td>
            </div>
          </div>
          <td>{{ book.volumeInfo.publisher }}</td>
          <td>{{ book.volumeInfo.publishedDate }}</td>
          <td><img :src="book.volumeInfo.imageLinks.thumbnail"></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import ApiService from "@/api/ApiService";

export default {
  name: 'Home',
  data() {
    return {
      books: [],
      keyWord: ''
    }
  },
  methods: {
    getBooks(keyWord) {
      if (keyWord == '') {
        keyWord = 'programming'
      }
      ApiService.getBooks(keyWord).then(res => {
        this.books = res.data.items
      })
    }
  },
  created() {
    this.getBooks('programming');
  }

}
</script>
<style>
img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
}

.block {
  margin: 20px;
}

.filter__form {
  margin-bottom: 20px !important;
  display: flex;
  justify-content: flex-end;
}

</style>
